<app-header></app-header>
<div class="container vh-100">
  <div class="row justify-content-center h-100">
      <div class="card my-auto shadow">
          <div class="card-body px-5">
              <div class="text-center">
          <h1>Welcome</h1>
          <h6>please enter email & password!!</h6>
        </div>
        <form #loginform="ngForm" (ngSubmit)="loginUser()">
          {{loginform.form.valid}}
          <small class="text-danger">{{msg}}</small>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.emailId" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
            >
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required field</small>
            <!-- <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
              <small class="text-danger" *ngIf="email.errors.pattern">Enter a valid email Id</small>
            </div> -->
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control"  placeholder="Enter password" name="password" [(ngModel)]="user.password" #password="ngModel" required
            [class.is-invalid]="password.invalid && password.touched"
            >
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required field</small>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info" [routerLink]="['/product-list']">login</button>

        </form>
      <a style="color:#fff" routerLink="../register">New user? click to register</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
